article{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
	article header h3{
		margin-top: 0;
	}

.form-search{
	margin-top: 20px;
}

a.thumbnail.pull-left{
	margin-right: 20px;
}

.notop, .notop h2{
	margin-top: 0;
}